:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--font-open-sans);
}
a {
    text-decoration: none;
}
.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.logo {
    font-family: var(--font-raleway);
    font-size: 32px;
    font-weight: 300;
    margin-left: 136px;
    color: var(--color-primary);
}
.header__nav{
    display: flex;
}

.nav__link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 3.28px;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.top__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: var(--font-raleway);
    font-size: 49px;
    color: var(--color-black);
    padding: 130px 0 20px 0 ;
}
span {
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-black);
    padding:0 0 38px 0;
}
.top__button {
    height: 67px;
    width: 440px;
    border-radius: 40px;
    background: #08A6E4 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-white);
    opacity: 1;
}
.hero {
    width: 100%;
    height: auto;
}

